# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment files
server/.env

# Ignore build artifacts
client/build/
dist/

# Ignore logs and system files
*.log
.DS_Store
